<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844929537303-gdruv26t1bu77ilhnh8sana5gg0ujghj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844929537303-gdruv26t1bu77ilhnh8sana5gg0ujghj</string>
	<key>API_KEY</key>
	<string>AIzaSyBGn2nuEvdhdN8sKSSTd5dchTR8RKy7o6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>844929537303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>studio.giangbb.joomMeetings</string>
	<key>PROJECT_ID</key>
	<string>joom-meetings</string>
	<key>STORAGE_BUCKET</key>
	<string>joom-meetings.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844929537303:ios:d3819e829dbc42593c1352</string>
</dict>
</plist>